            .far {
                height: 100vh;
            }
            
            body {
                background-color: #ffffff;
            }
            
            .progressContainer {
                width: 100%;
                height: 8px;
                background: #ccc;
            }
            
            .contain {
                width: 150px;
                height: 8px;
                background: #ebebeb;
                margin-top: 5px;
                margin-left: 5px;
                display: none;
            }
            
            .slidecontainer {
                width: 100%;
            }
            
            .slider {
                -webkit-appearance: none;
                width: 200px;
                height: 10px;
                border-radius: 5px;
                background:black;
                outline: none;
                opacity: 0.7;
                -webkit-transition: .2s;
                transition: opacity .2s;
            }
            
            .slider:hover {
                opacity: 1;
            }
            
            .slider::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 23px;
                height: 24px;
                border: 0;
                background: url('../res/img/dry-clean.png');
                cursor: pointer;
            }
            
            .slider::-moz-range-thumb {
                width: 23px;
                height: 24px;
                border: 0;
                background: url('../res/img/dry-clean.png');
                cursor: pointer;
            }
            .space
            {
                height: min-content;
            }
            #movementBtn :hover{
                color: #f7f7f7 ;
            }
            .optTemp{
                background-color : #ed7d31;
            }
            .optLight{
                background-color: #FFFF00;
            }
            .personalOption{
                display: none;
            }
            .personalOption :onclick{
                color : white;
            }
            .base {
                margin-left: 100px;
                margin-right: 100px;
                margin-bottom: 50px;
            }
            .form-control,.btn{
                border-style: solid;
                border-width: 3px;
                border-color: black;
            }
            #mvsensor:hover{
                background-color: grey ;
            }
           p{
               background-color: black !important;
               color: white;
           }

            .selected {
                    display: inline !important;
                    }
            
            a{
                text-decoration: none;
            }